@model Agendamento
@{
    ViewData["Title"] = "Adicionar um novo Agendamento";
}


<div class="text-center">
    <h4>@if (Model.Id > 0)
        {
            @Html.Raw("Editar Agendamento");
        } else {
            @Html.Raw("Incluir Agendamento");
        }
    </h4>
</div>

<form method="POST" asp-action="Detalhe" asp-controller="Agendamento" class="form p-5"
    style="border: 3px solid grey; background: #E6E6E6; border-radius: 15px; margin-top: 30px;">
    <div class="text-danger">@Html.ValidationSummary()</div>

    <div class="row">
        <div class="col-md-6">
            <input asp-for="Id" type="hidden" class="form-control">
            <input asp-for="IdClinica" class="form-control">
            <label class="form-label">Clínica</label>
            <select asp-for="IdClinica" asp-items="@ViewBag.Clinicas" class="form-control" disabled></select>
        </div>
        <div class="col-md-6">
            <label class="form-label">IdConsulta</label>
            <select asp-for="IdConsulta" asp-items="@ViewBag.Consultas" class="form-control">
                <option>Selecione uma consulta</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label class="form-label">IdMedico</label>
            <select asp-for="IdMedico" asp-items="@ViewBag.Medicos" class="form-control">
                <option>Selecione um(a) médico(a)</option>
            </select>
        </div>
        <div class="col-md-6">
            <label class="form-label">IdPaciente</label>
            <select asp-for="IdPaciente" asp-items="@ViewBag.Pacientes" class="form-control">
                <option>Selecione um(a) paciente</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="inputData" class="form-label">Data</label>
            <input asp-for="Data" type="datetime-local" class="form-control">
        </div>
        <div class="col-md-6">
            <label for="inputHorario" class="form-label">Horário</label>
            <input asp-for="Horario" type="text" class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <label class="form-label">Forma de Pagamento</label>
            <select asp-for="FormaPagamento" class="form-control">
                <option>Selecione a Forma de Pagamento</option>
                <option>Cartão de Crédito</option>
                <option>Cartão de Débito</option>
                <option>Dinheiro</option>
                <option>Pix</option>
            </select>
        </div>
    </div>
    
    <input type="submit" value="Salvar" class="btn btn-success" 
        style="margin-top: 30px; margin-bottom: 15px;">
    <input type="button" value="Voltar" class="btn btn-success" onclick="Voltar()"
        style="margin-top: 30px; margin-bottom: 15px;"></td>
</form>

<script>
    function Voltar(){
        window.location.href = "http://localhost:5210/Agendamento";
    }
</script>