@model X.PagedList.IPagedList<Agendamento>
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Paciente</th>
            <th>Especialidade</th>
            <th>Médico</th>
            <th>Data</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@Model[i].Id</td>
                <td>@Model[i].NomePaciente</td>
                <td>@Model[i].NomeEspecialidade</td>
                <td>@Model[i].NomeMedico</td>
                <td>@Model[i].DataHora</td>
                <td>
                    <input type="button" value="Editar" class="btn btn-dark"
                        onclick="javascript:window.location=`/Agendamento/Detalhe/${@Model[i].Id}`">
                    <input type="button" value="Excluir" class="btn btn-danger" onclick="Excluir(@Model[i].Id)">
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))